
<div class="cp-zyseries">
    <div class="wrapper">
        <div class="list js-list">
            <div class="sel">
                <a href="" class="cur js-txt">2021年04月</a>
                <select>
                    <option data-index="0" selected>2021年04月</option>
                    <option data-index="1" >2021年03月</option>
                    <option data-index="2" >2021年02月</option>
                    <option data-index="3" >2021年01月</option>
                </select>
                <div class="hide js-series-list0" style="display:block">
                    <a href="http://www.iqiyi.com/v_k4qyzye8y0.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-04-16</span>
                        <span class="zyname">李宇春携青你学员跳烫脚舞 沈腾另类演绎东邪西毒</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_zch5ucg5f8.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-04-09</span>
                        <span class="zyname">马东杨澜狂夸沈腾彩虹屁 倪萍关晓彤“放狠话”</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_1kfdsd9cg2s.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series " >
                        <span class="zydate">2021-04-02</span>
                        <span class="zyname">王子文毛晓彤陷谜案风波 欢天喜地七仙女舞台重聚</span>
                    </a>
                </div>
                <div class="hide js-series-list1" >
                    <a href="http://www.iqiyi.com/v_14ewcy8vu4w.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-03-26</span>
                        <span class="zyname">张哲瀚龚俊上演摸头杀 沈腾贾玲岳云鹏魔性争宠</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_2cjle493lto.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-03-19</span>
                        <span class="zyname">时代少年团战损妆A爆全场 华晨宇抢答惨被“挤飞”</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_1wlpc3t9vtc.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series " >
                        <span class="zydate">2021-03-12</span>
                        <span class="zyname">沈腾范丞丞疯狂反水夺金币 贾玲携春游家族来踢馆</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_hkkll2q488.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series " >
                        <span class="zydate">2021-03-05</span>
                        <span class="zyname">章子怡沈腾舞蹈battle 贾玲惨被臭气“熏晕”</span>
                    </a>
                </div>
                <div class="hide js-series-list2" >
                    <a href="http://www.iqiyi.com/v_1j1xj48hn84.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-02-26</span>
                        <span class="zyname">唐嫣紫萱造型梦回仙剑 沈腾贾玲爆笑改编《凉凉》</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_1vsg6xnjed4.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-02-19</span>
                        <span class="zyname">贾玲捡漏张小斐在线喊冤 沈腾神吐槽时代少年团</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_9sl4fmndyg.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series " >
                        <span class="zydate">2021-02-12</span>
                        <span class="zyname">时代少年团变最帅葫芦娃 宋小宝吐槽沈腾贾玲神补刀</span>
                    </a>
                    <a href="http://www.iqiyi.com/v_f04zzfj3z0.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series " >
                        <span class="zydate">2021-02-05</span>
                        <span class="zyname">沈腾魔性演绎赵四 岳云鹏灵魂吐槽大张伟</span>
                    </a>
                </div>
                <div class="hide js-series-list3" >
                    <a href="http://www.iqiyi.com/v_rffxn5fjxs.html?vfm=f_191_360y&fv=p_09_01" class="single-series js-single-series show" >
                        <span class="zydate">2021-01-29</span>
                        <span class="zyname">沈腾杨幂灵魂互画 贾玲雷佳音遭“水耳光”暴击</span>
                    </a>
                </div>
                <a href="javascript:void(0);" class="expand-all js-expand " >
                    <p>展开全部</p>
                </a>
            </div>
        </div>
    </div>
</div>

