<section class="longlist longlist-slide" id="js-longlist">


    <div class="search-item dsitem" data-block="ds">
        <div class="box g-clear">
            <a href="/tv/R4VscH7lSmHoMX.html" class="img">
                <img src="http://p4.qhimg.com/d/dy_1392b3d79649babee107e7f1d30af0a9.">
                <i class="update">更新中</i>
            </a>
            <div class="search-item-info">
                <h3>
                    <a href="/tv/R4VscH7lSmHoMX.html"><b><b>长</b></b><b><b>歌</b></b><b><b>行</b></b></a>
                </h3>
                <a href="/tv/R4VscH7lSmHoMX.html" class="info-link">
                    <p>
                        更新至 第36集 / 共49集

                    </p>
                    <p>
                        <span class="base-info">电视剧</span><span class="line">|</span><span
                                class="base-info">大陆 </span><span class="line">|</span><span
                                class="base-info">2021年</span></p>
                    <p>
                        <label>主演：</label>迪丽热巴 吴磊 刘宇宁 赵露思 </p>
                </a>
                <div class="sitebar">
                    <a target="_self" class="btn btn-play"
                       href="http://v.qq.com/x/cover/mzc00200c6aodyr/g0036d80wbh.html?ptag=360kan.tv.pay">
                        立即观看
                    </a><span class="g-site g-site-qq">腾讯</span>
                </div>
            </div>
        </div>

        <div class="search-series-wrap dssearch-series-wrap">
            <ul class="search-item-series g-clear">
                <li>
                    <a target="_self"
                       href="http://v.qq.com/x/cover/mzc00200c6aodyr/t0036kis46j.html?ptag=360kan.tv.free">1</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://v.qq.com/x/cover/mzc00200c6aodyr/d00369b1y7c.html?ptag=360kan.tv.free">2</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://v.qq.com/x/cover/mzc00200c6aodyr/m0036xvwhhm.html?ptag=360kan.tv.free">3</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://v.qq.com/x/cover/mzc00200c6aodyr/i0036kfyhhb.html?ptag=360kan.tv.free">4</a>
                </li>
                <li>
                    <a id="js-217431" data-cat="2" data-id="217431" class="iii js-iii" href="javascript:;">.</a>
                </li>
                <li>
                    <a target="_self" href="http://v.qq.com/x/cover/mzc00200c6aodyr/x0036veo6zb.html?ptag=360kan.tv.pay"
                       class="notopborder">32</a>
                    <em class="v">付</em>
                </li>
                <li>
                    <a target="_self" href="http://v.qq.com/x/cover/mzc00200c6aodyr/i0036xqm59r.html?ptag=360kan.tv.pay"
                       class="notopborder">33</a>
                    <em class="v">付</em>
                </li>
                <li>
                    <a target="_self" href="http://v.qq.com/x/cover/mzc00200c6aodyr/g00367vk4u9.html?ptag=360kan.tv.pay"
                       class="notopborder">34</a>
                    <em class="v">付</em>
                </li>
                <li>
                    <a target="_self" href="http://v.qq.com/x/cover/mzc00200c6aodyr/p00369wkhm9.html?ptag=360kan.tv.pay"
                       class="notopborder">35</a>
                    <em class="v">付</em>
                </li>
                <li>
                    <a target="_self" href="http://v.qq.com/x/cover/mzc00200c6aodyr/g0036d80wbh.html?ptag=360kan.tv.pay"
                       class="notopborder">36</a>
                    <em class="v">付</em>
                </li>
            </ul>
        </div>


    </div>


    <div class="search-item dsitem se-item" data-block="ds">
        <div class="box g-clear">
            <a href="/tv/PbpraH7kSWXuMn.html" class="img">
                <img src="http://p4.qhimg.com/t01a2fe3d34835ff8b7.jpg">
            </a>
            <div class="search-item-info">
                <h3>
                    <a href="/tv/PbpraH7kSWXuMn.html">秀丽江山之<b><b>长</b></b><b><b>歌</b></b><b><b>行</b></b></a>
                </h3>
                <a href="/tv/PbpraH7kSWXuMn.html" class="info-link">
                    <p>
                        共56集全

                    </p>
                    <p>
                        <span class="base-info">电视剧</span><span class="line">|</span><span
                                class="base-info">大陆 </span><span class="line">|</span><span
                                class="base-info">2016年</span></p>
                    <p>
                        <label>主演：</label>林心如 袁弘 李佳航 王媛可 </p>
                </a>
                <div class="sitebar">
                    <a target="_self" class="btn btn-play"
                       href="http://tv.sohu.com/v/MjAxNjA1MTkvbjQ1MDM3NDcxOC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">
                        立即观看
                    </a><span class="g-site g-site-sohu">搜狐</span>
                </div>
            </div>
        </div>

        <div class="search-series-wrap dssearch-series-wrap">
            <ul class="search-item-series g-clear">
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA1MTkvbjQ1MDM3NDcxOC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">1</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjEvbjQ2MDM5NjAxNy5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">2</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjIvbjQ2MDYwMDAzOC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">3</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjIvbjQ2MDYwMDA0MC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">4</a>
                </li>
                <li>
                    <a id="js-206892" data-cat="2" data-id="206892" class="iii js-iii" href="javascript:;">.</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTcvbjQ2NDc0NDUzNC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">52</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTgvbjQ2NDkyMjQ4Mi5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">53</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTgvbjQ2NDkyMjQ4NC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">54</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTkvbjQ2NTExNzMyMC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">55</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTkvbjQ2NTExNzMyNC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">56</a>
                </li>
            </ul>
        </div>


    </div>


    <div class="search-item dsitem se-item" data-block="ds">
        <div class="box g-clear">
            <a href="/tv/RLpran7kSWXuMX.html" class="img">
                <img src="http://p6.qhimg.com/t01433bc5d87c62f511.jpg">
            </a>
            <div class="search-item-info">
                <h3>
                    <a href="/tv/RLpran7kSWXuMX.html">秀丽江山之<b><b>长</b></b><b><b>歌</b></b><b><b>行</b></b>DVD版</a>
                </h3>
                <a href="/tv/RLpran7kSWXuMX.html" class="info-link">
                    <p>
                        共50集全

                    </p>
                    <p>
                        <span class="base-info">电视剧</span><span class="line">|</span><span
                                class="base-info">大陆 </span><span class="line">|</span><span
                                class="base-info">2016年</span></p>
                    <p>
                        <label>主演：</label>林心如 袁弘 李佳航 王媛可 </p>
                </a>
                <div class="sitebar">
                    <a target="_self" class="btn btn-play"
                       href="http://tv.sohu.com/v/MjAxNjA3MjEvbjQ2MDM5NjAwNi5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">
                        立即观看
                    </a><span class="g-site g-site-sohu">搜狐</span>
                </div>
            </div>
        </div>

        <div class="search-series-wrap dssearch-series-wrap">
            <ul class="search-item-series g-clear">
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjEvbjQ2MDM5NjAwNi5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">1</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjEvbjQ2MDM5NjAxNi5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">2</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjIvbjQ2MDU5OTk1My5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">3</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA3MjIvbjQ2MDU5OTk2MC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59">4</a>
                </li>
                <li>
                    <a id="js-206891" data-cat="2" data-id="206891" class="iii js-iii" href="javascript:;">.</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTcvbjQ2NDc0NDUzOC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">46</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTgvbjQ2NDkyMjQ4OS5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">47</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTgvbjQ2NDkyMjQ5Mi5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">48</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTkvbjQ2NTExNzMyOC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">49</a>
                </li>
                <li>
                    <a target="_self"
                       href="http://tv.sohu.com/v/MjAxNjA4MTkvbjQ2NTExNzMzMC5zaHRtbA==.html?txid=4e4df35dda9d8ed32c874b1ad590ef59"
                       class="notopborder">50</a>
                </li>
            </ul>
        </div>


    </div>


    <div class="relatevideo js-relatevideo" data-block="cz" style="">
        <h2 class="title">更多“<span>长歌行</span>”相关节目</h2>
        <div class="b-relatevideoslider js-relatevideoslider">
            <div class="swiper-container swiper-container-horizontal">
                <ul class="swiper-wrapper" style="width:200px;">
                    <li class="js-g-relate-slide-item swiper-slide swiper-slide-active">
                        <a href="/tv/PbpraH7kSWXuMn.html">
                            <div class="main-pic">
                                <img src="http://p4.qhimg.com/t01a2fe3d34835ff8b7.jpg" alt="">
                                <span class="tip">电视剧</span>
                            </div>
                            <div class="name">秀丽江山之<b><b>长</b></b><b><b>歌</b></b><b><b>行</b></b></div>
                        </a>
                    </li>
                    <li class="js-g-relate-slide-item swiper-slide swiper-slide-next">
                        <a href="/tv/RLpran7kSWXuMX.html">
                            <div class="main-pic">
                                <img src="http://p6.qhimg.com/t01433bc5d87c62f511.jpg" alt="">
                                <span class="tip">电视剧</span>
                            </div>
                            <div class="name">秀丽江山之<b><b>长</b></b><b><b>歌</b></b><b><b>行</b></b>DVD版</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="showall js-open" style="display: block;">展开全部</span>
    <span href="#longclose" class="closeall js-close" style="display: none;">收起</span>
</section>
